__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.vscode
nosetests.xml
coverage.xml
*.cover
*.log
.git
.cache
.mypy_cache
.pytest_cache
.hypothesis
